{
    "local": {
        "HOST": "localhost",
        "PORT": 3001,
        "DB_PORT": 27017,
        "DATABASE": "",
        "DATABASE_URI": "",
        "USERNAME": "",
        "PASSWORD": "",
        "JWT_SECRET": "SADWDAWADAcasdadwadacawdawd1213!@12121212"
    },
    "test": {
        "HOST": "localhost",
        "PORT": 3001,
        "DB_PORT": 27017,
        "DATABASE": "",
        "DATABASE_URI": "",
        "USERNAME": "",
        "PASSWORD": "",
        "JWT_SECRET": "SADWDAWADAcasdadwadacawdawd1213!@12121212"
    }
}